In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('BTC_sum_both_10m_v202303271051_1.csv')
df.shape
df.head()

In [9]:
for col in df.columns:
    print(col)

window_start
window_end
realized_volatility_mean0
realized_up_volatility_mean0
realized_down_volatility_mean0
num_trades
lowest_return
highest_return
high_low_gap
trade_vol
volume_power
end_price
return
time_id
log_return_temp
BB_width_w20
BB_width_w40
BB_width_w10
dv5_realized_volatility_mean0
dv2_lowest_return
dv3_highest_return
window_end_150_ticker
realized_volatility_mean0_150
num_trades_150
lowest_return_150
highest_return_150
high_low_gap_150
trade_vol_150
volume_power_150
window_end_300_ticker
realized_volatility_mean0_300
num_trades_300
lowest_return_300
highest_return_300
high_low_gap_300
trade_vol_300
volume_power_300
window_end_450_ticker
realized_volatility_mean0_450
num_trades_450
lowest_return_450
highest_return_450
high_low_gap_450
trade_vol_450
volume_power_450
liq_last_1
liq_last_2
liq_last_5
liq_last_10
liq_last_15
ep_liq_1
ep_liq_2
ep_liq_5
ep_liq_10
ep_liq_15
bidask_spread_0
bidask_spread_1
prices_30s_for_NN
highest_possible_return
dv6_highest_possible_return
window_end_150_orderbook
liq_last_1_150
liq_last_2_150
liq_last_5_150
liq_last_10_150
liq_last_15_150
ep_liq_1_150
ep_liq_2_150
ep_liq_5_150
ep_liq_10_150
ep_liq_15_150
bidask_spread_0_150
bidask_spread_1_150
window_end_300_orderbook
liq_last_1_300
liq_last_2_300
liq_last_5_300
liq_last_10_300
liq_last_15_300
ep_liq_1_300
ep_liq_2_300
ep_liq_5_300
ep_liq_10_300
ep_liq_15_300
bidask_spread_0_300
bidask_spread_1_300
window_end_450_orderbook
liq_last_1_450
liq_last_2_450
liq_last_5_450
liq_last_10_450
liq_last_15_450
ep_liq_1_450
ep_liq_2_450
ep_liq_5_450
ep_liq_10_450
ep_liq_15_450
bidask_spread_0_450
bidask_spread_1_450
realized_volatility_30s
dv4_realized_volatility_30s
prices_30s_for_NN_onlyprices
trade.tau
tvpl1
tvpl2
tvpl5
tvpl10
tvpl15
tvpl_ep1
tvpl_ep2
tvpl_ep5
tvpl_ep10
tvpl_ep15

In [10]:
# 컬럼 이름을 입력할 데이터프레임 생성
col_df = pd.DataFrame()

col_df['컬럼이름'] = df.columns

col_df

                               컬럼이름
0                      window_start
1                        window_end
2         realized_volatility_mean0
3      realized_up_volatility_mean0
4    realized_down_volatility_mean0
..                              ...
108                        tvpl_ep1
109                        tvpl_ep2
110                        tvpl_ep5
111                       tvpl_ep10
112                       tvpl_ep15

[113 rows x 1 columns]

In [11]:
#col_df.to_excel('컬럼명.xlsx', index=False)

In [25]:
df.head()

,window_start,window_end,realized_volatility_mean0,realized_up_volatility_mean0,realized_down_volatility_mean0,num_trades,lowest_return,highest_return,high_low_gap,trade_vol,...,tvpl1,tvpl2,tvpl5,tvpl10,tvpl15,tvpl_ep1,tvpl_ep2,tvpl_ep5,tvpl_ep10,tvpl_ep15
0,2022-12-16 21:06:00,2022-12-16 21:16:00,0.000544,0.000079,0.000563,394,-0.000754,0.000133,0.000886,15.561441,...,89142.482781,15443.490385,3264.863933,3061.631991,2889.697491,41433.361025,8721.107433,3813.841815,2636.948224,2487.159762
1,2022-12-16 21:07:00,2022-12-16 21:17:00,0.000208,0.000225,0.000195,398,-0.000266,0.000443,0.000709,14.353723,...,28040.171638,3022.202496,2826.848759,2638.917032,2526.048284,39046.419208,8166.973473,3441.051848,2361.735517,2255.902299
2,2022-12-16 21:08:00,2022-12-16 21:18:00,0.000216,0.000281,0.000130,373,-0.000177,0.000443,0.000621,9.920507,...,3358.626919,3270.249052,2686.898544,1396.137385,1375.121962,25746.564277,5220.906246,2142.304347,1565.561405,1492.712634
3,2022-12-16 21:09:00,2022-12-16 21:19:00,0.000292,0.000320,0.000044,349,-0.000044,0.000532,0.000576,8.113106,...,14824.074427,12196.293424,6165.433045,1614.821044,1524.015523,19846.770058,4520.325828,1744.484808,1260.939326,1201.954163
4,2022-12-16 21:10:00,2022-12-16 21:20:00,0.000394,0.000000,0.000414,357,-0.000576,0.000000,0.000576,8.279821,...,3356.433481,3169.903074,744.256722,722.065810,688.492625,19756.168639,4705.279291,1874.904400,1281.512349,1221.680627

In [26]:
df['time_id'].head()

0    2022-12-16 21:06:00
1    2022-12-16 21:07:00
2    2022-12-16 21:08:00
3    2022-12-16 21:09:00
4    2022-12-16 21:10:00
Name: time_id, dtype: object

In [27]:
raw_df = pd.read_csv('ticker_data_202302230905.csv', nrows=100)

In [28]:
raw_df

,type_websocket,datetime,code,opening_price,high_price,low_price,trade_price,prev_closing_price,change,change_price,...,orderbook_bp_12,orderbook_bs_12,orderbook_ap_13,orderbook_as_13,orderbook_bp_13,orderbook_bs_13,orderbook_ap_14,orderbook_as_14,orderbook_bp_14,orderbook_bs_14
0,orderbook,2023-01-21 20:33:43.000,KRW-BTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28519000.0,1.070351e+00,28583000.0,1.492000e-01,28518000.0,0.673184,28589000.0,1.662000e+00,28517000.0,0.054144
1,orderbook,2023-01-21 20:33:43.000,KRW-DOGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.5,1.109093e+06,121.0,3.595741e+06,99.4,284313.023536,122.0,4.639535e+06,99.3,429743.926727
2,orderbook,2023-01-21 20:33:43.000,KRW-BTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28519000.0,1.070351e+00,28583000.0,1.492000e-01,28518000.0,0.673184,28589000.0,1.662000e+00,28517000.0,0.054144
3,orderbook,2023-01-21 20:33:43.000,KRW-XRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,497.0,3.528720e+05,523.0,2.506845e+05,496.0,545004.723688,524.0,9.915758e+05,495.0,442778.375664
4,orderbook,2023-01-21 20:33:44.000,KRW-XRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,497.0,3.528720e+05,523.0,2.506845e+05,496.0,545004.723688,524.0,9.915758e+05,495.0,442778.375664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,trade,2023-01-21 20:33:49.000,KRW-BTC,NaN,NaN,NaN,28558000.0,28026000.0,RISE,532000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,ticker,2023-01-21 20:33:49.000,KRW-BTC,28025000.0,28977000.0,27721000.0,28558000.0,28026000.0,RISE,532000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,orderbook,2023-01-21 20:33:49.000,KRW-XRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,497.0,3.528720e+05,523.0,2.506845e+05,496.0,545004.723688,524.0,9.915758e+05,495.0,442778.375664
98,orderbook,2023-01-21 20:33:49.000,KRW-BTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28519000.0,1.070351e+00,28582000.0,7.705000e-01,28518000.0,0.600000,28583000.0,1.492000e-01,28515000.0,1.800351
99,orderbook,2023-01-21 20:33:49.000,KRW-ETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2039000.0,2.478628e-01,2066000.0,5.664951e+01,2038000.0,14.342993,2067000.0,1.277194e+00,2037000.0,3.306834

In [29]:
raw_df['type_websocket'].unique()

array(['orderbook', 'trade', 'ticker'], dtype=object)

In [30]:
raw_df.to_csv('bitcoin_sample.csv')